/* style.css */
body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  display: inline-block;
}

.time-chip {
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 20px;
  vertical-align: middle;
  display: inline-block;
}

p {
  font-size: 16px;
  text-align: left;
  margin: 10px 0;
}

/* Anpassa bakgrundsfärgen för Plyr-kontroller */
.plyr__controls {
  background-color: #50D571;
}

.plyr__control {
  color: white;
}

/* Gör hörnen på spelarna rundade */
.plyr__video-embed {
  border-radius: 4px;
  overflow: hidden;
}

.plyr__video-embed iframe {
  border-radius: 4px;
}
